.Industries{
    display:flex;
}
.Industries_container{
    width:100%;
}
.Industries-container{
    display:flex;
    width:100%;
    flex-direction: column;
    height:calc(100vh - 100px);
    position:relative;
}
.Industries-Top{
    display:flex;
    width:  100%;
    margin-top:25px;
    justify-content: space-between;
}
.Industries-Top h3{
    margin-left:25px;
}
.Industry-Searchbar{
    width: 300px;
    height: 30px;
    display:flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #000;
    background: #EEE;
    padding-left: 20px;
    margin-left: 20px;
}
.Industry-Searchbar input{
    background-color: transparent;
    margin-left: 10px;
}
.Industry-Searchbar-icon{
    margin-left:40px;
    cursor:pointer;
}
.Industries-Top .buttons{
    display:flex;
    margin-right:20px;
}
.Industries-Top button{
    border-radius: 5px;
    width: 120px;
    height: 34px;
    background-color: #143460;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border:none;
    cursor:pointer;
    margin-right: 20px;
}
.Industries-list .tables{
    width:100%;
}
.Industries-list{
    width:90%;
    margin:35px;
}
.Industries-list .Industries-header{
    background-color: #143460;
    color:white;
    height:36px;
}
.Industries-Body td{
    height: 38px;
    text-align: center;
    border-bottom: 1px solid #c4c3c3;
}
.link_button .view_button{
    background-color: rgb(1, 1, 129);
    padding: 4px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.view_button:hover{
    background-color: rgb(0, 20, 48);
    transform: translateY(-1px);
}
.Industries-PageBtn{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Industries-PageBtn span{
    cursor: pointer;
    margin-right:15px;
}
.Industries-PageBtn span:nth-child(1){
    border-radius: 50%;
    background-color: #143460;
    width:24px;
    height:24px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Industries-PageBtn button{
    color:white;
    background-color: #143460;
    border:none;
    width:70px;
    height:25px;
    border-radius: 5px;
    cursor: pointer;
} 
.no_result{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60vh;
    width:100%;
}
.visibleIndustry{
    position: absolute;
    top: 0;
    width:100%;
}