.login_Background{
    background-image: url("../../../public/Assets/login_background.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.login_container{
    width:23rem;
    height:28rem;
    background-color:#FBFBFBBF;
    opacity: 0.85;
    border-radius:1.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logos{
    width:8.75rem;
    height:3.75;
    margin:1.5rem;
}
.login_input_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.login_input_container .mail,
.login_input_container .password{
    display:flex;
    align-items: center;
    margin:30px;
    /* width:18.75rem; */
    width:100%;
    height:2.75rem;
    background-color: #f0f0f0;
    border-radius: 0.75rem;
    border: 1.5px solid #000;
}
.login_input_container .icon{
    margin:1rem;
}
.login_inputField{
    width:65%;
    height:75%;
    outline:none;
    border:none;
    background-color: #f0f0f0;
    color:#000;
    align-items:center
}
.password span{
    display:flex;
    align-items: center;
}
.forgotPass{
    color: #ff0000;
    font-size: 1rem;
    text-decoration-line: underline;
    width:18.75rem; 
    cursor:pointer;
}
.login_container .login_Button{
    width: 6.25rem;
    height:2.4rem;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color:white;
    margin:2rem;
    font-size:1.2rem;
    border:none;
    cursor:pointer;
}
@media screen and (max-width:800px){
    .login_Background{
        background-image: url("../../../public/Assets/login_background.jpg");
        width:100%;
        height:100vh;
    }
    .login_container{
        width:75%;
        height:auto;
    }
    .login_input_container .mail,
    .login_input_container .password{
        width:80%;
    }
    .forgotPass,
    .login_container .login_Button {
        width: 80%; 
        margin: 1rem;
    }
    .password span{
        display:flex;
        align-items: center;
        margin-right:0.75rem;
    }
}