.sidebar_mini{
    background-color: #141E46;
    display:flex;
    flex-direction:column;
    width: 60px;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    position: sticky;
    z-index: 1;
    top:0;
}
/* .mini_LogoContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}
.mini_Logo{
    margin-top:15px;
    width:32px;
    height: 28px;
} */

.mini_sidebar_menu{
    display:flex;
    justify-content: center;
    color:#D4D4D4;
    margin-top: 15px;
    cursor: pointer;
}
.sidebar_mini_list{
    display:flex;
    flex-direction: column;
    margin-top:15px;
}
.sidebar_mini_list a{
    height:50px;
    width:60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    color:#D4D4D4;
    &.active{
        background-color: #D4D4D4;
        color: #0B0B0B;
    }
    &:hover{
        background-color: #D4D4D4;
        color: #0B0B0B;
        text-decoration: underline;
    }
}
