/* Sidebar */
.sidebar{
    background-color: #141E46;
    display:flex;
    flex-direction:column;
    height: 100vh;
    scroll-behavior: smooth;
    position: sticky;
    top:0;
}
.LogoContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}
.Logo{
    margin-top:1.5rem;
    width:2.8rem;
    height: 2.3rem;
}
.LogoName{
    color:#D4D4D4;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidebarList{
    display:flex;
    flex-direction: column;
    margin-top:1rem;
}
.sidebarList a{
    display:flex;
    align-items: center;
    margin-top:0.7rem;
    width:9.3rem;
    height:2.5rem;
    cursor: pointer;
    color:#D4D4D4;
    text-decoration:none;
    font-weight: 600;
    &.active{
        background-color: #D4D4D4;
        color: #0B0B0B;
    }
    &:hover{
        background-color: #D4D4D4;
        color: #0B0B0B;
        text-decoration: underline;
    }
}
.ListIcons{
    margin: 0rem 0.6rem 0rem 1.25rem;
}
.sidebar_menu{
    display:flex;
    justify-content: end;
    color:#D4D4D4;
}
.sidebar_menu .menuIcon{
    margin:0.6rem 0.9rem 0rem 0rem;
    cursor: pointer;
}