.users{
    display:flex;
    width:100%;
}
.user-container{
    display:flex;
    width:100%;
    flex-direction: column;
    height:calc(100vh - 100px);
}
.user-Top{
    display:flex;
    width:100%;
    margin-top:25px;
    justify-content: space-between;
}
.user-Top h3{
    margin-left: 25px;
}
.user-Searchbar{
    width: 300px;
    height: 30px;
    display:flex;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #000;
    background: #EEE;
    padding-left: 20px;
    margin-left: 20px;
}
.user-Searchbar input{
    background-color: transparent;
    margin-left: 10px;
    width:65%;
    height:75%;
    border: none;
}
.user-Searchbar-icon{
    margin-left:40px;
    cursor:pointer;
}
.create_button{
    border-radius: 5px;
    width: 140px;
    height: 35px;
    background-color: #2b8900;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border:none;
    cursor:pointer;
    margin-right: 25px;
}
.create_button:hover{
    transform: translateY(-2px);
}
.tables{
    width:100%;
}
.user-list{
    width:90%;
    margin: 35px;
}
.user-list .user-header{
    text-align: center;
    height:36px;
    background-color: #143460; 
    color:white;
}
.user-Body td{
    height: 36px;
    text-align:center ;
    border-bottom: 1px solid #c4c3c3;
}
.action_icons{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
.action_icons button{
    width:75px;
    height:25px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.edit_button{
    background-color: rgb(1, 1, 129);
    cursor:pointer;
    border:none;
    color:white;
    border-radius: 5px;
}
.edit_button:hover{
    background-color: rgb(0, 20, 48);
    transform: translateY(-2px);
}
.delete_button{
    background-color:rgb(201, 21, 21);
    cursor:pointer;
    border:none;
    color:white;
    border-radius: 5px;
}
.delete_button:hover{
    background-color:rgb(124, 0, 0);
    transform: translateY(-2px);
}
.no_result{
    display:flex;
    align-items: center;
    justify-content: center;
    height:60vh;
    width:100%;
}